{% extends 'learning_logs/base.html' %}

{% block page_header %}
<h1>Topics</h1>
{% endblock page_header %}


{% block content %}
  <h2>Public Topics</h2>
  <ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in public_topics %}
      <li class="list-group-item border-0">
        <a class="text-decoration-none text-success"
         href="{% url 'learning_logs:topic' topic.id %}">
          {{ topic.text }}</a> - by {{ topic.owner.username }}</li>
    {% empty %}
      <li class="list-group-item border-0">
        No public topics have been added yet.</li>
    {% endfor %}
  </ul>

  <h2>Your Private Topics</h2>
  <ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in private_topics %}
      <li class="list-group-item border-0">
        <a class="text-decoration-none text-success"
         href="{% url 'learning_logs:topic' topic.id %}">
          {{ topic.text }}</a></li>
    {% empty %}
      <li class="list-group-item border-0">
        No privates topics have been added yet.</li>
    {% endfor %}
  </ul>

  <a class="text-decoration-none text-success" 
  href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

{% endblock content %}
